{% extends "base.html" %}
{% block title %}Whisk Network: About{% endblock %}

{% block content %}
 <div class="container">
    <div>
        <h1 class="display-2">About Us</h1>
    </div>
     <div>
    <h2 class="p-4">Our Site</h2>
         <div class="px-5">Whisk Network is a comprehensive website where you can upload cooking/baking recipes and view the work of others! Our objective is to give users
             a place to post their favorite recipes so that others can prepare and enjoy them as well.
        </div>
         <br>
         <div class="px-5">We decided to name our site Whisk Network because we wanted a place where not only we can upload recipes but so can all of our users. This way
             the recipes on this site can be a combination of multiple different cultures and styles.
         </div>
    </div>
     <div>
        <h2 class="p-4">Our Team</h2>
        <div class="px-5">We are two college students names Brianna Tilton and Hannah Baker. We are Information Technology majors at Southern New Hampshire University.
            We are working on a project for our Web Based Design final which is a functional website. We chose to do a recipe based website because we both love cooking/baking recipes.
        </div>
    </div>
     <div>
        <h2 class="p-4">Contact Us</h2>
         <div class="px-5">Please feel free to reach out to us by sending us an email at "whisknetwork@gmail.com". We always do our best to respond in a timely manner.
        </div>
     </div>
 </div>
{% endblock content %}